
<main>
        <p id="notice"></p>
        <div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
    <h2>User info</h2>
    <!--<form enctype="multipart/form-data" action="current_user" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="✓"><input type="hidden" name="_method" value="patch"><input type="hidden" name="authenticity_token" value="D/4yGq11YyYJJ0L3LC2kFdJsPR6VD8vumXvW3dDMDzaBIiImeCmikIcYrt2Pd1epHMaGdls7TKOBsQBTe1Sdvw==">-->
    <%= form_with model:@user, local:true do |f| %>  
      <div class="form-group">
        <label for="inputName">Name</label>
        <!--<label for="user_name">Name</label>-->
        <%= f.text_field :name, autofocus: true, id:"inputName", placeholder:"名前"%>
        <!--<input class="form-control name" type="text" value="bkedbw" name="user[name]" id="user_name">-->
      </div>
     <div class="form-group">
        <label for="inputImage">Image</label>
        <!--<label for="user_image">Image</label>-->
        <%= attachment_image_tag @user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg"%>
        <%= f.attachment_field :profile_image, placeholder: "プロフィール画像" %>  
        <!--<input value="{}" data-reference="57cc1b9bd01dbece7c2e99774ff63090" type="hidden" name="user[profile_image]"><input class="form-control-file user_image" data-reference="57cc1b9bd01dbece7c2e99774ff63090" include_hidden="false" type="file" name="user[profile_image]" id="user_profile_image">-->
      </div>
      <div class="form-group">
        <label for="user_introduction">Introduction</label>
        <%= f.text_area :body %>
        <textarea class="form-control introduction" name="user[introduction]" id="user_introduction"></textarea>-->
      </div>
      <div class="form-group">
        <%= f.submit "変更を保存" %>
      </div>
      <% end %>
      </form>  </div>
      </div>

      </div></main>