<body>

   <div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-md-3">
      <h2>User info</h2>
      <img class="attachment user profile_image fallback" ><table class="table">

  <div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-md-3">
      <h2>User info</h2>
      <img class="attachment user profile_image fallback" ><table class="table">

  <tbody>
    <tr>
      <%= attachment_image_tag @user, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg" %>
    </tr>
  <tr>
	  <th>name</th>
	  <th><%= @user.name %></th>
  </tr>
  <tr>
	  <th>introduction</th>
	  <th><%= @user.introduction %></th>
  </tr>
</tbody>


  <%= form_for @book_new do |f| %>
        <p>Title</p>
        <%= f.text_field :title %>
        <p>Opinion</p>
        <%= f.text_area :body %>
        <%= f.submit 'Create Book' %>
  <% end %>

  <p>
    <strong>Title:</strong>
    <%= @book.title %>
  </p>
  <p>
    <strong>Body:</strong>
    <%= @book.body %>
  </p>
  <div>
    <%= link_to "Edit", edit_book_path(@book) %>
    <p></p>
  <p><a href="/books">back</a></p>
</div>


</body>